/* Space out content a bit */
body {
  padding-top: 20px;
  font-size: 17px;
}

.navbar { min-height: 90px; }
.navbar-brand img { height: 80px; }
.navbar-nav > li > a { padding-bottom: 10px; padding-top: 10px; }
.navbar-nav { padding-top: 60px; }

.navbar-toggle { border: 1px solid #ccc; }
.navbar-toggle .icon-bar { background-color: #666;}

a, a:hover, a:active {
  color: #006fa9;
}

a { text-decoration: none !important; }

.table a {
  text-decoration: none;
}

.muted { color: #999; }

.btn-success {
  background-color: #006fa9;
  border-color: #006fa9;
}

.btn-success:hover {
  background-color: #007aba;
  border-color: #007aba;
}

.contributors img {
  width: 50px;
}

.contributor-owner img {
  border: 1px solid #428bca;
}

.people td {
  font-size: 20px;
}

.people img {
  width: 50px;
}

.sponsors img {
  padding: 10px 30px 10px 0;
}

.label:hover { text-decoration: none; }

.footer {
  background-color: #efefef;
  padding: 20px 0;
  margin-top: 20px;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #E5001C;
  color: #fff;
  padding: 30px;
}

.jumbotron h2 a, .jumbotron h2 small, .jumbotron a { color: #fff;}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

#recent-event { margin: 10px 0 0 0; }

.api-title { width: 30%; }

.thumbnail {margin-bottom: 5px;}

/* Bars */
.bar {
  position: relative;
  width: 4px;
  height: 50px;
  margin: 10px 1px 0 1px;
  float: left;
}
.bar span {
    border-style: solid;
    border-width: 0 2px;
    display: block;
    width: 1px;
    margin: 0 1px;
    text-indent: -5000px;
    background: none repeat scroll 0 0 #95A5A6;
    border-color: #95A5A6;
    position: absolute;
    bottom: 0;
}

.project-needs { margin-top: 20px;}

.sponsor-details a span {
  position: absolute;
  left: -999em;
}