html, body {
  height: 100%;
}
body {
  background-image: url("../images/bg.png");
  background-repeat: repeat-x;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;

}

.container {
  max-width: 960px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 100px;
}

#footer {
  padding-top: 25px;
  color: #fff;
  background-color: #34495E;
  height: 250px;
}

#footer a {
  color: #4AA3DF;
}

.brand-logo {
  width: 200px;
}

.nav {
  margin-top: 50px;
}

.nav >li > a {
  color: #ffffff;
}


.contributors img {
  width: 50px;
}

.contributor-owner img {
  border: 1px solid #428bca;
}

.people td {
  font-size: 20px;
}

.people img {
  width: 50px;
}

.sponsors img {
  padding: 10px 30px 10px 0;
}

.label:hover { text-decoration: none; }

.dl-horizontal dt{
  max-width: 100px;
}

.dl-horizontal dd {
    margin-left: 122px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

#recent-event { margin: 10px 0 0 0; }

.api-title { width: 30%; }

.thumbnail {margin-bottom: 5px;}

/* Bars */
.bar {
  position: relative;
  width: 4px;
  height: 50px;
  margin: 10px 1px 0 1px;
  float: left;
}
.bar span {
    border-style: solid;
    border-width: 0 2px;
    display: block;
    width: 1px;
    margin: 0 1px;
    text-indent: -5000px;
    background: none repeat scroll 0 0 #95A5A6;
    border-color: #95A5A6;
    position: absolute;
    bottom: 0;
}

.project-needs { margin-top: 20px;}

#wrap-intro {
  min-width: 100%;
  background-color: #E1F3FB;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#intro .left-col, #intro .right-col {
  height: 360px;

}

#intro .video {
  margin-top: 25px;
  background-color: black;
  height: 250px;
  width: 100%;
}




/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
