---
layout: default
title: Board of Directors
description: "The Chi Hack Night Board of Directors is responsible for governing our organization, as well as running our events, managing our website, keeping the books, and doing all the other things needed to make Chi Hack Night happen."
redirect_from: 
 - contact.html
 - team.html
---

<h1>Board of Directors</h1>

<p>The Chi Hack Night Board of Directors is responsible for governing our organization, as well as running our events, managing our website, keeping the books, and doing all the other things needed to make Chi Hack Night happen.</p>

<p>The board consists of 11 members, who will each serve a 1 or 2 year term and are either appointed or elected by the members of Chi Hack Night.</p>

<hr />

<table id='bod' class='table'>
  <thead>
    <tr>
      <th style="width:20%;"></th>
      <th style="width:25%;">Board member</th>
      <th style="width:35%;" class='hidden-xs hidden-sm'>Biography</th>
      <th style="width:20%;" class='hidden-xs hidden-sm'>Committees</th>
    </tr>
  </thead>
  <tbody>

{% assign members_sorted = site.categories['board'] | sort: 'name_last' %}
{% for member in members_sorted %}
  {% if member.active == true %}
    <tr>
      <td>
        <a href='{{ member.url }}'>
          <img src="{{member.image}}" alt="{{member.name_first}} {{member.last}}" class='img-responsive img-rounded'/>
        </a>
      </td>
      <td>
        <strong><a href='{{ member.url }}'>{{member.name_first}} {{member.name_last}}{% if member.position %}, {{member.position}}{% endif %}</a></strong><br />
        Board seat: {{member.seat}}<br />
        Term: {{member.term_expires}}
      </td>
      <td class='hidden-xs hidden-sm'>
        {{member.content | truncatewords: 50}} <a href='{{ member.url }}'>Read more ></a>
      </td>
      <td class='hidden-xs hidden-sm'>
        {% for comm in member.committees %}
          {{comm}}<br />
        {% endfor %}
      </td>
    </tr>
  {% endif %}
{% endfor %}

  </tbody>
</table>

<h2>Past Directors</h2>

<table id='bod' class='table'>
  <thead>
    <tr>
      <th>Former board member</th>
      <th>Board seat</th>
      <th>Term served</th>
    </tr>
  </thead>
  <tbody>

{% assign members_sorted = site.categories['board'] | sort: 'term_expires' %}
{% for member in members_sorted %}
  {% if member.active == false %}
    <tr>
      <td>
        <strong><a href='{{ member.url }}'>{{member.name_first}} {{member.name_last}}{% if member.position %}, {{member.position}}{% endif %}</a></strong>
      </td>
      <td>{{member.seat}}</td>
      <td>{{member.term_expires}}</td>
    </tr>
  {% endif %}
{% endfor %}

  </tbody>
</table>

<script src="/lib/bod.js"></script>