---
layout: default
---

<div class="jumbotron">
  {% for post in site.posts limit:1 %}
    <div class='row'>
      <div class='col-sm-8'>
        <h2>
          <small>{{ post.date | date: "%B %-d" }}</small><br />
          <a href="{{post.url}}">{{post.title}}</a>
        </h2>
        {% if post.speakers.size > 1 %}
          <p><strong>Speakers</strong><br />
            {% for speaker in post.speakers %}
              {{speaker}}<br />
            {% endfor %}
          </p>
        {% elsif post.speakers.size == 1 %}
          <p><strong>Speaker:</strong> {{ post.speakers }}</p>
        {% endif %}
        <br /><a class='btn btn-success btn-lg' href="{{post.url}}">Details <i class='fa fa-chevron-circle-right'></i></a>
      </div>
      <div class='col-sm-4'>
        {% if post.image %}
          <img class='img-responsive img-home-teaser' src='{{post.image}}' alt='{{post.title}}' />
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<div class='row'>
  <div class='col-sm-12'>
    <p class='lead'>Chicago's weekly event to build, share and learn about civic tech.</p> 

    <p>We are a group of thousands of web developers, designers, academic researchers, data journalists, activists, policy wonks and curious citizens who want to make our city more just, equitable, transparent and delightful to live in by using data and technology. <a href='/about.html'>Read more about us &raquo;</a></p>

    <div class='row'>
      <div class='col-sm-4'>
        <div class='well'>
          <h4>
            <a href='http://eepurl.com/z65hn'>
              <i class='fa fa-bullhorn'></i>
              Event updates
            </a>
          </h4>
          <p>Every week, we send out an email and update this site to preview the next hack night.</p>
          <a class='btn btn-success' href='http://eepurl.com/z65hn'>
            <i class='fa fa-envelope'></i>
            Subscribe
          </a>
        </div>
      </div>
      <div class='col-sm-4'>
        <div class='well'>
          <h4>
            <a href='https://groups.google.com/forum/#!forum/chihacknight'><i class='fa fa-comments'></i> Join the discussion</a>
          </h4>
          <p>Join the our Google Group for coordinating and collaborating on civic tech projects in Chicago.</p>
          <a class='btn btn-success' href='https://groups.google.com/forum/#!forum/chihacknight'>
            <i class='fa fa-envelope'></i>
            Google Group
          </a>
        </div>
      </div>
      <div class='col-sm-4'>
        <div class='well'>
          <h4>
            <a href='/breakouts.html'><i class='fa fa-group'></i> Breakout groups</a>
          </h4>
          <p>See our topic-specific working groups that guide conversations and build teams for civic apps.</p>
          <a class='btn btn-success' href='/breakouts.html'>
            <i class='fa fa-group'></i>
            Breakout groups
          </a>
        </div>
      </div>
    </div>

    <p><img src='images/chihacknight_room.png' alt='Chi Hack Night' class='img-responsive img-rounded' /></p>

    <div class='sponsors'>

      <h2 id='partners'>Partners</h2>
      <p>The Chi Hack Night is organized by members of <a href='http://opencityapps.org'>Open City</a>, hosted at <a href='https://www.braintreepayments.com/'>Braintree</a> and documented by <a href='http://smartchicagocollaborative.org'>Smart Chicago Collaborative</a>.</p>
        
      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
          <a href='http://opencityapps.org' itemprop='url'>
              <img src='images/sponsors/open-city.jpg' alt='Open City' itemprop='logo' class='img-responsive img-rounded' />
              <span itemprop='name'>Open City</span>
          </a>
      </div>
      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
          <a href='https://www.braintreepayments.com/' itemprop='url'>
              <img src='images/sponsors/braintree.png' alt='Braintree' itemprop='url' class='img-responsive' />
              <span itemprop='name'>Braintree</span>
          </a>
      </div>
      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
          <a href='http://smartchicagocollaborative.org' itemprop='url'>
              <img src='images/sponsors/smart-chicago.jpg' alt='Smart Chicago Collaborative' itemprop='logo' class='img-responsive' />
              <span itemprop='name'>Smart Chicago Collaborative</span>
          </a>
      </div>
      <div class='clearfix'></div>

      <h2 id='sponsors'>Sponsors</h2>
      <p>Our awesome sponsors provide food every week.</p>

      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
          <a href='http://datamade.us' itemprop='url'>
              <img src='images/sponsors/datamade.png' alt='DataMade' itemprop='logo' class='img-responsive' />
              <span itemprop='name'>DataMade</span>
          </a>
      </div>
      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-md-3'>
            <a href='http://devbootcamp.com' itemprop='url'>
                <img src='images/sponsors/devbootcamp.png' alt='Dev Bootcamp' itemprop='logo' class='img-responsive' />
                <span itemprop='name'>Dev Bootcampz</span>
            </a>
        </div>
      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
          <a href='http://github.com' itemprop='url'>
              <img src='images/sponsors/github.png' alt='GitHub' itemprop='logo' class='img-responsive' />
              <span itemprop='name'>GitHub</span>
          </a>
      </div>
      <div itemscope itemtype='http://schema.org/Organization' class='sponsor-details col-sm-3'>
          <a href='http://codeforamerica.com' itemprop='url'>
              <img src='images/sponsors/code-for-america.jpg' alt='Code for America' itemprop='logo' class='img-responsive' />
              <span itemprop='name'>Code for America</span>
          </a>
      </div>
    </div>
  </div>
</div>