---
layout: default
title: Projects and successes
description: ""
redirect_from: projects/index.html
---

<h1>Projects and successes</h1>

<p>Many amazing projects have been conceived, built and launched at Chi Hack Night. Here are some of our most prominent and successful ones.</p>

<p>Do you have a Chi Hack Night project you want to share? <a target='_blank' href='https://docs.google.com/forms/d/e/1FAIpQLSdk7Yxx_K1rjOOZOqooRjv9FawbntUFqLwLd_jiYJHjf4nLrA/viewform'>Fill out this form!</a></p>

<hr />

<div class='projects-list'>
  {% for post in site.categories['projects'] | sort: 'date' %}
    <div class='row'>
      <div class='col-sm-4'>
        <a href='{{post.url}}'>
          <img alt="{{post.title}}" class="img-thumbnail" src="{{post.image}}" />
        </a>
      </div>
      <div class='col-sm-8'>
        <h4>
          <a href="{{post.url}}">{{post.title}}</a>
          <br /><small><strong>Launched</strong>: {{post.date | date: "%B %Y"}}</small>
          <br /><small><strong>Tags</strong>: 
          {% for t in post.tags %}
            {{ t }}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          </small>
          <br /><small><strong>Team</strong>: 
          {% for c in post.creators %}
            {{ c }}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
          </small>
        </h4>
        <p>{{post.description | markdownify}}</p>
      </div>
    </div>
    <hr />
  {% endfor %}
</div>
