<!-- 4th of July notice -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Chi Hack Night News</b></h3>
      </div>
  <div class="panel-body">
    <h2 class='text-center'>
      <i class='fa fa-fw fa-star fa-spin' style='color:#DC382A;'></i>
      <i class='fa fa-fw fa-star fa-spin' style='color:#47AAEC;'></i>
      <i class='fa fa-fw fa-star fa-spin' style='color:#DC382A;'></i>
      <br /><br />
      No Chi Hack Night on {{include.date_off}}. <br />Happy 4th of July!
      <br /><br />
      <i class='fa fa-fw fa-star fa-spin' style='color:#47AAEC;'></i>
      <i class='fa fa-fw fa-star fa-spin' style='color:#DC382A;'></i>
      <i class='fa fa-fw fa-star fa-spin' style='color:#47AAEC;'></i>
    </h2>
    <p>On {{include.date_off}}, there will be no regular Chi Hack Night.</p>

    <p>We’ll be back again on <strong>{{include.date_back}}</strong>!</p>
  </div>
</div>