<!-- End of year holiday notice -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Chi Hack Night News</b></h3>
  </div>
  <div class="panel-body">
    <h2><i class='fa fa-snowflake-o fa-spin'></i> Happy holidays! See you in {{include.new_year}}! <i class='fa fa-snowflake-o fa-spin'></i></h2>
    <p>We're taking the next two weeks off for the holidays. We’ll be back again on <strong>{{include.date_back}}</strong> with more civic hacking fun! While you're waiting, <a target="_blank" href='https://www.youtube.com/playlist?list=PL_dBjjdnIbKysC7_e8-Jf55mB_sBs71zv'>check out some of our presentations</a> from the last year.</p>

    <p><strong>Present at Chi Hack Night in {{include.new_year}}</strong>: Would you like to propose a talk at an upcoming Chi Hack Night? Take a look at our <a href='/speaker-submissions.html'>speaker requirements</a> and pitch your talk to us.</p>

    <p><strong>Apply to be a Member</strong>: Chi Hack Night is a Membership-based organizaton! If you'd like to become a Member and have ownership of what Chi Hack Night does, <a href='/membership/application.html'>apply or renew for membership here!</a></p>
  </div>
</div>