---
layout: default
---

<div class='row'>
  <div class="col-sm-12 post">
    <p><a href='/board-of-directors.html'>< back to the Board of Directors</a></p>

    <div class='row'>
      <div class="col-sm-3">
        <p><img src="{{page.image}}" alt="{{page.name_first}} {{page.last}}" class='img-responsive img-rounded'/></p>
      </div>
      <div class="col-sm-9">
        <h1>
          {% if page.active %}
            <small>Board Member<br /></small>
          {% else %}
            <small>Former Board Member<br /></small>
          {% endif %}
          {{page.name_first}} {{page.name_last}}{% if page.position %}, {{page.position}}{% endif %}
        </h1>
        Board seat: {{page.seat}}<br />
        {% if page.active %}
          
        {% else %}
          Years served:
        {% endif %}
        
        {% if page.term_start ==  page.term_expires %}
          {{page.term_expires}}
        {% else %}
          Term: {{page.term_start}} - {{page.term_expires}}
        {% endif %}
        <br />
      </div>
    </div>

    {{ content }}

    {% if page.active %}
      <h2>Committee positions</h2>
      {% for comm in page.committees %}
        {{comm}}<br />
      {% endfor %}
    {% endif %}
  </div>
  
</div>