<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} - 
      {% endif %}
      {{site.name}} - {{site.description}}
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, width=640, minimum-scale=0.5">
    {% if page.description %}
      <meta content="{{ page.description }}" name='description' />
    {% else %}
      <meta content="{{ site.description }}" name='description' />
    {% endif %}
    <meta content='{{ site.name }}' name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about-us/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/logo.png" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:creator" content="{{ site.title }}">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
    {% endif %}

    <link href='/favicon.ico' rel='shortcut icon' />
    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.flatly.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.css">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/analytics_lib.js"></script>

    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script src="/js/jquery.dataTables.sorting.js"></script>
    <script src="/js/jquery.address.js"></script>
    <script src="/js/mustache.js"></script>
    <script src="/js/spin.min.js"></script>
    <script src="/js/jquery.spin.js"></script>
    <script src="/js/jquery.scrollto.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverted navbar-static-top">
      <div class="container">
        <div class='col-sm-10 col-sm-offset-1'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src='/images/logo/logo.png' alt='Chi Hack Night' title='Chi Hack Night' /></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/events/index.html">Event calendar</a></li>
                  <li><a href="/breakouts.html">Breakout groups</a></li>
                  <li><a href="/photos.html">Photos</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/open-source-projects.html">Open source projects</a></li>
                  <li><a href="/open-source-people.html">Open source people</a></li>
                  <li><a href="/resources.html">Data and resources</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/about.html">About</a></li>
                  <li><a href="/faq.html">F.A.Q.</a></li>
                  <li><a href="/leadership-council.html">Leadership Council</a></li>
                  <li><a href="/code-of-conduct.html">Code of Conduct</a></li>
                </ul>
              </li>
              <li><a href='/blog/index.html'>Blog</a></li>
              <li><a href='/contact.html'>Contact</a></li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </nav>


    <div class="container">
      <div id='primary-content' class='col-sm-10 col-sm-offset-1'>
      
        {{content}}

      </div>
    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <div class='row'>
          <div class='col-sm-2 col-sm-offset-3'>
            <small>
              <a href="/events/index.html">Events</a><br />
              <a href="/breakouts.html">Breakout groups</a><br />
              <a href="/photos.html">Photos</a><br />
            </small>
          </div>
          <div class='col-sm-2'>
            <small>
              <a href="/open-source-projects.html">Open source projects</a><br />
              <a href="/open-source-people.html">Open source people</a><br />
              <a href="/resources.html">Data and resources</a>
            </small>
          </div>
          <div class='col-sm-2'>
            <small>
              <a href="/about.html">About</a><br />
              <a href="/leadership-council.html">Leadership Council</a><br />
              <a href="/code-of-conduct.html">Code of Conduct</a><br />
            </small>
          </div>
          <div class='col-sm-2'>
            <small>
              <a href='/contact.html'>Contact</a><br />
              <a href="/blog/index.html">Blog</a><br />
              &copy; 2015 Chi Hack Night
            </small>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>