<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} - 
      {% endif %}
      {{site.name}}
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, width=640, minimum-scale=0.5">
    <meta content='{{ site.description }}' name='description' />
    <meta content='{{ site.name }}' name='author' />

    <!-- Facebook metadata -->
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }} - {{ site.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else if page.content %}
      <meta content="{{ page.content | strip_html | truncatewords: 40 }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/about-us/" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/logo.png" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@DataMadeCo">
    <meta name="twitter:creator" content="@DataMadeCo">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else if page.content %}
      <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 40 }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/logo.png">
    {% endif %}

    <link href='/favicon.ico' rel='shortcut icon' />
    
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.10.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/analytics_lib.js"></script>

    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/jquery.dataTables.sorting.js"></script>
    <script src="/js/jquery.address.js"></script>
    <script src="/js/mustache.js"></script>
    <script src="/js/spin.min.js"></script>
    <script src="/js/jquery.spin.js"></script>
    <script src="/js/jquery.scrollto.js"></script>
  </head>
  <body>
    <div class="container">
      <div id='primary-content' class='col-md-10 col-md-offset-1'>
        <div class="header">
          <ul class="nav nav-pills pull-right">
            {% for link in site.navigation %}
              {% assign current = nil %}
              {% if page.url == link.url or (page.categories != nil and page.categories.first == link.category) %}
                {% assign current = 'active' %}
              {% endif %}

              <li class="{{ current }}">
                <a href="{{ link.url }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
          <h3 class="text-muted"><a href="/index.html" >Open Gov Hack Night</a></h3>
        </div>
      
        {{content}}

        <div class="footer">
          <p class='pull-right'>
            &copy; Open City 2014 | 
            <a href='/code-of-conduct.html'>Code of Conduct</a> |
            <a href='https://github.com/open-city/open-gov-hack-night'><i class='fa fa-github'></i> Pull requests welcome!</a>
          </p>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
</html>