---
layout: default
---

<h4>{{ page.date | date: "%b %d, %Y" }}</h4>
<h1><small>#{{page.event_id}}</small> {{page.title}}</h1>
<hr />

<div class='row'>
  <div class='col-md-7'>

    {{content}}

    {% if page.links %}
      <hr />
      <h4>Links</h4>
      <ul>
      {% for link in page.links %}
        <li>{{link}}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <hr />
    <h4 id='slideshow-header' style='display: none;'>Photos from Open Gov Hack Night #{{page.event_id}}</h4>
    <div class='slideshow'></div>
    <p id='slideshow-text' style='display: none;'>Have a photo of this event? Upload it to <a href='http://flickr.com'>Flickr</a> and tag it with <strong>chihacknight-{{page.event_id}}</strong></p>

    <script src="/js/galleria/galleria-1.3.5.min.js"></script>
    <script src="/js/galleria/plugins/flickr/galleria.flickr.min.js"></script>
    <script>
      var flickr = new Galleria.Flickr();
        flickr.tags('chihacknight-{{page.event_id}}', function(data) {
            console.log(data)
            // Should we show or hide the slideshow?
            var $slideshow = $(".slideshow");
            if (data.length) {
              $slideshow.css({height: 400, marginBottom: 20});
              $('#slideshow-header').show()
              $('#slideshow-text').show()
            } else {
              $slideshow.hide();
            }

            Galleria.loadTheme('/js/galleria/themes/classic/galleria.classic.min.js');
            Galleria.run('.slideshow', {
                dataSource: data
            });
        });
    </script>

  </div>
  <div class='col-md-5'>
    <div class='well'>
      <p><img class='img-thumbnail' src='/images/1871_map.png'></p>
      <p>
        6pm<br />
        {{ page.date | date: "%b %d, %Y" }}<br />
        <a href='http://www.1871.com/'>1871</a> (in the IMSA room)<br />
        <a href='https://maps.google.com/maps?q=222+W+Merchandise+Mart+Plz+Chicago'>222 W Merchandise Mart Plz #1212</a><br />
      </p>
      {% if site.time <= page.date %}
        <a class='btn btn-success' href='http://opengovhacknight.eventbrite.com/'>RSVP &raquo;</a>
      {% endif %}

      <p><strong>Sponsor</strong> {{page.sponsor}}</p>
    </div>
  </div>
</div>