---
layout: default
---

<div class='row'>
  <div class="col-sm-10 col-sm-offset-1">
    <div itemscope itemtype="http://schema.org/Event">
      <h3>
        <a href='/events'>Events</a> > <time itemprop="startDate" datetime={{ page.date | date: "%Y-%m-%d" }}>{{ page.date | date: "%B %-d, %Y" }}</time>
      </h3>
      <h1>
        <small>#{{page.event_id}}</small>
        <span itemprop="name">{{page.title}}</span>
      </h1>
      <hr />

      <div class='row'>
        {% if site.time <= page.date %}
          <div class='col-sm-7'>
        {% else %}
          <div class='col-sm-12'> 
        {% endif %}

          {% if page.youtube_id %}
            <iframe width="100%" height="600" src="https://www.youtube.com/embed/{{page.youtube_id}}" frameborder="0" allowfullscreen></iframe>
            <hr />
          {% elsif site.time >= page.date and page.image %}
            <p>
              <img class='img-responsive img-thumbnail' src='{{page.image}}' alt='{{page.title}}' style="max-height: 500px;"/>
              {% if page.image_credit %}
                <br /><small class='pull-right'><em>Photo: {{ page.image_credit }}</em></small>
              {% endif %}
            </p>
          {% else %}
            {% if page.image %}
              <p class='hidden-lg hidden-md'><img class='img-responsive img-thumbnail' src='{{page.image}}' alt='{{page.title}}' />
              {% if page.image_credit %}
                <br /><small class='pull-right'><em>Photo: {{ page.image_credit }}</em></small>
              {% endif %}
              </p>
            {% endif %}
          {% endif %}

          {% if site.time > page.date %}
            {% if page.speakers %}
              {% if page.speakers.size > 1 %}
                <strong>Presenters</strong>
              {% else %}
                <strong>Presenter</strong>
              {% endif %}
              <p>
              {% for p in page.speakers %}
                {{p}}<br />
              {% endfor %}
              </p>
              <hr />
            {% endif %}
          {% else %}
            {% if page.remote_url %}
              <a class='btn btn-link' href="{{page.remote_url}}" target='_blank'><i class='fa fa-play-circle'></i> Zoom @ 7pm</a>
            {% else %}
              <a class='btn btn-link' href="https://youtube.com/chihacknight/live" target='_blank'><i class='fa fa-play-circle'></i> Livestream @ 7pm</a>

              <a class='btn btn-link' href="https://bit.ly/chn-remote-zoom" target='_blank'><i class='fa fa-play-circle'></i> Civic Hacking @ 8pm</a>
            {% endif %}

          {% endif %}



          <span itemprop="description">{{content}}</span>

          {% if page.links %}
            <hr />
            <h4>Links</h4>
            <ul>
            {% for link in page.links %}
              <li>{{link}}</li>
            {% endfor %}
            </ul>
          {% endif %}

          {% if site.time <= page.date and page.speakers %}
            <hr />

            <p>
              <strong>6:30pm: ChiCommons/Chi Hack Night Pre-Party</strong><br />
              Socialize, touch base, and share what you plan on doing at Chi Hack Night
            </p>
            <ul>
              <li>Join: <a href="https://bit.ly/CHN-pre-party">https://bit.ly/CHN-pre-party</a></li>
            </ul>

            <p>
              <strong>7:00pm - Livestream presentation</strong><br />
              Announcements and feature presentation with Q&amp;A<br />
            </p>
            <ul>
              <li>Join: 
                {% if page.remote_url %}
                  <a href="{{page.remote_url}}">{{page.remote_url}}</a>
                {% else %}
                  <a href="https://youtube.com/chihacknight/live">https://youtube.com/chihacknight/live</a>
                {% endif %}
              </li>
              <li>YouTube automatic closed captioning will be available</li>
            </ul>
              
            <p>
              <strong>8:00pm - Civic hacking</strong><br />
              3-word intros, community announcements &amp; breakout group pitches<br />
            </p>
            <ul>
              <li>
                Join: 
                {% if page.remote_url %}
                  <a href="{{page.remote_url}}">{{page.remote_url}}</a>
                {% else %}
                  <a href="https://bit.ly/chn-remote-zoom">https://bit.ly/chn-remote-zoom</a>
                {% endif %}
              </li>
              <li>Follow the agenda for <a href="{{page.agenda}}" target='_blank'>Intros, announcements and breakout groups</a></li>
              <li>After intros and announcements, we will break out into <a href='/breakouts.html'>learning and working groups</a></li>
            </ul>

            <p>As always, our <a href='/code-of-conduct.html'> Code of Conduct</a> will be in effect for this event.</p>
          {% endif %}
        </div>
        {% if site.time <= page.date %}
          <div class='col-sm-5'>
            <div class='well'>
              {% if page.image %}
                <p class='hidden-sm hidden-xs'><img class='img-responsive img-thumbnail' src='{{page.image}}' alt='{{page.title}}' />
                {% if page.image_credit %}
                  <br /><small class='pull-right'><em>Photo: {{ page.image_credit }}</em></small>
                {% endif %}
                </p>
              {% endif %}

              {% if page.speakers %}
                {% if page.speakers.size > 1 %}
                  <strong>Presenters</strong>
                {% else %}
                  <strong>Presenter</strong>
                {% endif %}
                <p>
                {% for p in page.speakers %}
                  {{p}}<br />
                {% endfor %}
                </p>
              {% endif %}
            
              <strong>Location</strong><br />
              {{ page.date | date: "%l:%M%P" }} {{ page.date | date: "%A, %B %-d, %Y" }}
              <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                <!-- <span itemprop="name">Chi Hack Night Zoom Call</span><br /> -->
                <span itemprop="name">Chi Hack Night YouTube Livestream</span><br />
              </div>
              
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>