---
layout: default
---

<div itemscope itemtype="http://schema.org/Event">
  <h3>
    <a href='/events'>Events</a> > <time itemprop="startDate" datetime={{ page.date | date: "%Y-%m-%d" }}>{{ page.date | date: "%B %-d, %Y" }}</time>
  </h3>
  <h1>
    <span itemprop="name">{{page.title}}</span>
  </h1>
  <hr />

  <div class='row'>
    {% if site.time <= page.date %}
      <div class='col-sm-7'>
    {% else %}
      <div class='col-sm-12'> 
    {% endif %}

      {% if page.youtube_id %}
        <iframe width="100%" height="580" src="https://www.youtube.com/embed/{{page.youtube_id}}" frameborder="0" allowfullscreen></iframe>
        <hr />
      {% elsif site.time >= page.date and page.image %}
        <p>
          <img class='img-responsive img-thumbnail' src='{{page.image}}' alt='{{page.title}}' />
        </p>
      {% endif %}

      {% if site.time <= page.date %}
        <p>
          <a class='btn btn-success' href='{{page.rsvp}}'><i class='fa fa-check-square-o'></i> RSVP</a>

          {% if page.agenda %}
            &nbsp;&nbsp;<a class='btn btn-info' href='{{page.agenda}}' target='_blank'><i class='fa fa-file-text-o fa-fw'></i> Agenda</a>
          {% endif %}
        </p>
      {% endif %}

      <span itemprop="description">{{content}}</span>

      <hr />
      {% if page.agenda %}
        <i class='fa fa-file-text-o fa-fw'></i> <a href='{{page.agenda}}' target='_blank'>Agenda and meeting notes</a><br />
      {% endif %}
      {% if site.time <= page.date %}
        <i class='fa fa-smile-o fa-fw'></i> <a href='/code-of-conduct.html'> Code of conduct</a><br />
      {% endif %}
      <i class='fa fa-cutlery fa-fw'></i> Sponsor {{page.sponsor}}<br />
      {% if page.asl_provided %}
        <i class='fa fa-american-sign-language-interpreting fa-fw'></i> American Sign Language interpreter<br />
      {% endif %}

    </div>
    {% if site.time <= page.date %}
      <div class='col-sm-5'>
        <div class='well'>
          {% if page.image %}
            <p><img class='img-responsive img-thumbnail' src='{{page.image}}' alt='{{page.title}}' /></p>
          {% endif %}
         
          6pm<br />{{ page.date | date: "%A, %B %-d, %Y" }}<br />
          <div itemprop="location" itemscope itemtype="http://schema.org/Place">
            <br />
            <span itemprop="name">{{page.address_name}}</span><br />
            <a href='https://maps.google.com/maps?q={{page.address_street}}+{{page.address_city}}'>
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{page.address_street}}</span><br />
                <span itemprop="addressLocality">{{page.address_city}}</span>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    {% endif %}
  </div>
</div>